---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-64">
    <div class="container">
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <a href="/RF_Components/RF_Components/">
          <Feature title="Building Blocks">
            RF Components are the building blocks of radios, etc.
          </Feature>
        </a>
        <a href="/RF_Devices/RF_Devices">
          <Feature title="RF Devices">
            RF Devices are collections of components.
          </Feature>
        </a>
        <a href="/RF_Topics/RF_Topics/">
          <Feature title="RF Topics">
            RF Topics are research
          </Feature>
        </a>
        <a href="/Signal_Properties/Signal_Properties/">
          <Feature title="Signal Properties">
            RF Characteristics / Measurements
          </Feature>
        </a>
      </div>
    </div>
  </section>
</DefaultLayout>
