---
const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8">
    <div style="text-align:center;" class="container">
      <p> &copy; {currentYear} Joshua Wilkins</p>
    </div>
  </section>
</footer>
