---
import Navigation from '../components/Navigation.astro'
import { SkipLinks } from 'accessible-astro-components'
import { Icon } from 'astro-icon'
---

<header>
  <SkipLinks />
  <Navigation>
    <a href="/RF_Components/RF_Components">Components</a>
    <a href="/RF_Devices/RF_Devices">Devices</a>
    <a href="/Signal_Properties/Signal_Properties">Properties</a>
    <a href="/RF_Topics/RF_Topics">Topics</a>
    <a href="/Definitions">Definitions</a>
    <li class="menu-item type-icon">
      <a href="https://github.com/JoshWilkins2013" title="GitHub">
        <Icon pack="ion" name="logo-github" />
      </a>
    </li>
  </Navigation>
</header>

<style lang="scss" is:global>
  @use '../assets/scss/base/outline' as *;

  header {
    .type-icon a {
      display: block;

      [astro-icon] {
        margin-top: -4px;
        width: 30px;

        path {
          fill: var(--action-color);
          transition: fill 0.2s ease-in-out;
        }
      }

      &:hover {
        [astro-icon] path {
          fill: var(--action-color-state);
        }
      }
    }
  }
</style>
